.username {
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 15px;
}

.img-pfp {
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.img-post {
    width: 450px;
    height: 500px;
}

.user-container {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    margin-left: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid lightgray;
    width: 450px;
    padding-top: 10px;
}

.likes-comments {
    padding: 10px;
}

.input-comment {
    width: 430px;
    height: 30px;
    border: none;
    border-top: 1px solid lightgray;
    margin-top: 10px;
}

.center-page {
    display: flex;
    justify-content: center;
}